!!! 5
%html{ :lang => "de" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = tag :meta, name: :psj, action: action_name, controller: controller_name
    %title= content_for?(:title) ?  yield(:title) : 'Open HPI Learning Game'

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body
    = yield